<body>
	<div class="container">
	<div class="row">
		<header></header>
	</div>
		<div class="row">
			<div class="col-md-6">
				<label>To: </label>
				<input type="text" style="width:50%">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label>Message:</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<textarea rows="4" cols="50">
				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<button [routerLink]="['/orchestration']">Save</button>
				<button>Cancel</button>				
			</div>
		</div>
	</div>
</body>
