<div class="navbar top-header navbar-default">
	<div class="container">
<div class="col-lg-12 text-left logo"><a href="account.html"><img src="../assets/images/logo.jpg"/></a> <a routerLink="/login"  class=" pull-right btn sign">Sign Out</a></div>
	</div>
  </div>
<div class="container">

	<div class="row">
		<div class="col-md-4" style="margin:30px;"><a [routerLink]="['/reports']">			
			<input type="image" src="../assets/images/reportbutton.png" alt="Submit" width="300" height="300"></a>
		</div>
		<div class="col-md-4" style="margin:20px"><a [routerLink]="['/orchestration']">
			<input type="image" src="../assets/images/orchestrationbtn.png" alt="Submit" width="300" height="300"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" style="margin:20px"><a [routerLink]="['/assessment']">
			<input type="image" src="../assets/images/assesmentbtn.png" alt="Submit" width="300" height="300"></a>
		</div>
		<div class="col-md-4" style="margin:30px"><a [routerLink]="['/account-management']">
			<input type="image" src="../assets/images/accmgmntbtn.png" alt="Submit" width="300" height="300"></a>
		</div>
	</div>
</div>
