<div class="wrap">
    <div class="navbar top-header navbar-default">
        <div class="container">
            <div class="col-lg-12 text-left logo">
                <a href="account.html">
                    <img src="../assets/images/logo.jpg" />
                </a>
                <a routerLink="/login"  class=" pull-right btn sign">Sign Out</a>
            </div>
        </div>
    </div>
    <header>
    </header>
    <section class="">

        <div class="container login-box">
            <div class="row">
                <div class="col-md-10">
                    <table width="100%" class="table device table-striped table-bordered ">
                        <thead>
                            <tr class="main-h">
                                <td>
                                    <h2>YOUR PROFILE DETAILS</h2>
                                </td>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div *ngFor="let profile of Profiles">
                                        <div class="row">
                                            <div *ngFor="let avatar of Avatars">
                                                <div *ngIf="profile.avatar_id === avatar.avatar_id" class="col-md-3 prof-pic">
                                                    <img src="../assets/images/{{avatar.avatar_url}}" />
                                                </div>
                                            </div>
                                            <div class="col-md-8 prof-dec">
                                                <p>Last Sync {{profile.last_synced}}</p>
                                                <p>Last Used  {{profile.last_used}}</p>
                                                <p>Last Update {{profile.last_updated}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-6  text-left">
            <p class="agileinfo"> &copy; Copyright IEP | ONE INC 2010</p>
        </div>

        <div class="col-md-6 text-right">
            <a href="#">contact@iepone.com</a>
        </div>
    </div>
</div>
<!--  player js -->